@model Games

<h3>@Model.ID Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Genre</th>
        <th>ImageURL</th>
    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Title</td>
        <td>@Model.Description</td>
        <td>@Model.Price</td>
        <td>@Model.Genre</td>
        <td>@Model.ImageURL</td>
    </tr>
</table>

<div class="text-center">
    <img src="@Model.ImageURL" style="height:300px; width: auto; border-radius: 7px; box-shadow: 0 10px 10px 0 rgba(10, 11, 14, 0.6);" />
</div>

<div class="button-container">
    <a href="/Games/UpdateGame/@Model.ID" class="square-button">Update this Game</a>

    @using (Html.BeginForm("DeleteGame", "Games", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this game" class="square-button" />
    }
</div>

<style>
    body {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,23,0.891281512605042) 51%, rgba(255,0,78,0.7960434173669468) 79%);
        color: #ffffff; /* Text color */
    }

    .table {
        color: white; /* Text color inside the table */
    }

    a {
        color: #ffffff; /* Link color */
        text-decoration: none; /* Remove underline from links */
    }

    .button-container {
        display: flex; /* Use flexbox */
        justify-content: center; /* Align items horizontally in the center */
        margin-top: 20px; /* Add some spacing from the previous element */
    }

    .square-button {
        display: inline-block;
        padding: 10px 20px;
        color: blue;
        margin: 0 10px; /* Add some spacing between buttons */
        color: #ffffff; /* Button text color */
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .square-button:hover {
            
            cursor: pointer;
        }
</style>


